/* INTER */
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  src: url(../fonts/inter/InterVariable.woff2) format("woff2-variations")
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: 100 900;
  src: url(../fonts/inter/InterVariable-Italic.woff2) format("woff2-variations")
}

/* ROBOTO */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/roboto/Roboto-Thin.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  src: url(../fonts/roboto/Roboto-ThinItalic.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/roboto/Roboto-Light.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/roboto/Roboto-LightItalic.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/roboto/Roboto-Regular.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/roboto/Roboto-Italic.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/roboto/Roboto-Medium.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/roboto/Roboto-MediumItalic.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/roboto/Roboto-Bold.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/roboto/Roboto-BoldItalic.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/roboto/Roboto-Black.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/roboto/Roboto-BlackItalic.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/roboto/RobotoCondensed-Light.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Roboto Condensed;
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/roboto/RobotoCondensed-LightItalic.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/roboto/RobotoCondensed-Regular.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Roboto Condensed;
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/roboto/RobotoCondensed-Italic.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/roboto/RobotoCondensed-Medium.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Roboto Condensed;
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/roboto/RobotoCondensed-MediumItalic.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/roboto/RobotoCondensed-Bold.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Roboto Condensed;
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/roboto/RobotoCondensed-BoldItalic.ttf) format("truetype")
}

@font-face {
  font-display: swap;
  font-family: Google Sans Code;
  font-style: normal;
  font-weight: 100 900;
  src: url(../fonts/google-sans-code/GoogleSansCode[MONO,wght].ttf) format("truetype-variations")
}

@font-face {
  font-display: swap;
  font-family: Google Sans Code;
  font-style: italic;
  font-weight: 100 900;
  src: url(../fonts/google-sans-code/GoogleSansCode-Italic[MONO,wght].ttf) format("truetype-variations")
}